# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter / Colab
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# Ignore data only
data/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Environment variables
.env